In [ ]:
<h1><font color='green'>this font is for main task</font></h1>

In [ ]:
<h3><font color='red'>this font is for function</font></h3>

In [ ]:
<h4><font color='orange'>this font is for main columns</font></h3>

In [ ]:
<h4>comment</h4>

In [ ]:
import random
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
<h1><font color='green'>Loading Data...</font></h1>
data = pd.DataFrame({'A': np.random.rand(10), 'B': np.random.rand(10)})
data

In [ ]:
<h1><font color='green'>Lets add style to our plots</font></h1>
plt.style.use('fivethirtyeight')

In [ ]:
<h1><font color='green'>Column's name replacement</font></h1>
<h4>its very hard to work with this kind of colums lets replaced it with some good names</h4>

In [ ]:
renamed_columns = ['col1', 'col2']
data.columns = renamed_columns
data.shape

In [ ]:
<h4>Lets look at null values with respect to columns</h4>
plt.figure(figsize = (10,5))
sns.heatmap(data.isnull())
null_counts = data.isnull().sum()
null_counts

In [ ]:
<h4>its seems like our data set has null values lets visualize it</h4>
plt.figure(figsize = (8,6))
plt.plot(range(len(null_counts.values)),[5]*len(null_counts.values), alpha = 0.5, linewidth = 1.8, color = 'green')
plt.scatter(range(len(null_counts.values)),null_counts.values,alpha = 0.8,color = 'red')

In [ ]:
<h4>points above green line shows the null entry more than 5 entries are null which is lot...</h4>

In [ ]:
<h1><font color='green'>lets get rid off some giant number of null entries</font></h1>
for c in range(len(null_counts.values)):
    if null_counts.values[c] > 5:
        data.drop(axis = 1, columns = [renamed_columns[c]], inplace = True)

In [ ]:
<h4>so in above code we just drop respective columns which has more than 5 null entries lets visualize it again</h4>
null_counts = data.isnull().sum()
null_counts
plt.figure(figsize = (8,6))
plt.ylim((-1,10))
plt.plot(range(len(null_counts.values)),[5]*len(null_counts.values), alpha = 0.5, linewidth = 1.8, color = 'green')
plt.scatter(range(len(null_counts.values)),null_counts.values,alpha = 0.8,color = 'red')
plt.figure(figsize = (10,5))
sns.heatmap(data.isnull())

In [ ]:
<h1><font color='green'>Now lets look some replacement for data in terms of duplication, </font></h1>
<h3><font color='brown'>function for printing the unique values</h3>

In [ ]:
def unique_values_in_columns(df):
    for c in df.columns:
        print(c,':',df[c].unique())

In [ ]:
<h3><font color='brown'>function for printing the unique object values</h3>

In [ ]:
def unique_object_values_in_columns(df):
    for c in df.columns:
        if df[c].dtypes == 'object':
            print(c,':',df[c].unique())

In [ ]:
<h4>lets look unique value in column</h4>
unique_values_in_columns(data)

In [ ]:
<h3><font color='orange'>on col1 column</font></h3>
<h4>lets replace values by convincing numbers</h4>

In [ ]:
data['col1'] = data['col1'].replace(0.5, 0)

In [ ]:
<h4>lets visualize the freq of our new class allocated to col1</h4>
sns.barplot(x=data['col1'].value_counts().index, y=data['col1'].value_counts().values, alpha=0.8)

In [ ]:
<h3><font color='orange'>on col2 column</font></h3>
<h4>lets replace values by grouping into categories</h4>

In [ ]:
data['col2'] = data['col2'].replace([0.2, 0.4], 'low')
data['col2'] = data['col2'].replace([0.6, 0.8], 'high')

In [ ]:
<h4>lets visualize the freq of our new class allocated to col2</h4>
sns.barplot(x=data['col2'].value_counts().index, y=data['col2'].value_counts().values, alpha=0.8)